# ===== Python =====
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# VS Code settings
.vscode/
*.code-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
.pyre/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Local config files
*.local
*.secret


# ===== Node / React =====
# dependencies
node_modules/

# production build
frontend/build/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
